/*
  1. General Style
  2. Header
*/

/* 1. General Style */
.container-1220 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

/* 2. Header */
.header-section {
  background: 'img/header-cover.png'
}
