/*
  1. General Style
  2. Fonts
  3. Header
  4. Buttons
  5. Features
  6. Expectations
  7. Author
  8. Occasion
  9. Video Carusel
  10. Footer
*/

/* 1. General Style */
body {
  color: #39393A;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  line-height: 0px;
}

p {
  line-height: 32px;
}

a {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.container-1440 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
}

.container-1220 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

.container-860 {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  margin: 0px !important;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-content {
  padding: 8% !important;
}

.align-right {
  text-align: right;
}

.text-white {
  color: white
}

.big-text {
  font-size: 42px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 49px;
}

p.big-text:after {
    content: '';
    display: block;
    margin: 36px 0px;
    background: #004EFF;
    width: 100px;
    height: 2px;
}

li {
  list-style-type: none;
}

i.zmdi {
    font-weight: bold;
}

/* 3. Header */
.header-section {
  background: url(../img/header-cover.png) 70% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 852px;
  padding: 10px 0px;
  color: white;
}

img.logo {
  width: 100%;
  height: auto;
}

.header-section h2,
.header-section p{
  color: white;
}

.header-section h2 {
  margin-top: 90px;
  line-height: 32px;
}

.zmdi-hc-fw {
    margin-left: 20px;
    transition: all 0.3s ease;
}

a:hover .zmdi-hc-fw {
  margin-left: 30px;
}

/* 4. Buttons */
.button {
  background: #C30016;
  border-radius: 45.5px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease;
}

.button-long-width {
  padding: 18px 75px;
}

.button-normal-width {
  padding: 18px 35px;
}

.button:hover {
  background: rgb(145,32,45);
}

/* 5. Features */

.features-section {
  background: #004EFF;
  color: white;
  padding: 50px 0 30px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

.features-section .zmdi-hc-fw {
  margin: 0px 10px 70px 0px;
  display: inline;
  font-size: 26px;
  float: left;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  border: 1px solid white;
}

.features-section > div > div > div:nth-child(1) > i {
  padding: 14px 20px;
}

.features-section > div > div > div:nth-child(2) > i {
  padding: 14px 18px;
}

.features-section > div > div > div:nth-child(3) > i {
  padding: 14px 21px;
}

.features-section > div > div > div:nth-child(4) > i {
  padding: 14px 17px;
}

/* 6. Expectations */
.expect-list {
  margin: 80px 0px;
}

.expect-list li {
  line-height: 50px;
}

.expect-list .zmdi-hc-fw {
    margin-left: 0px;
    margin-right: 30px;
    color: #004EFF;
  }

.car-photo {
  min-height: 687px !important;
  max-height: 687px;
  background: url(../img/car.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.car-photo a {
  color: white;
}

.watch-box {
  text-align: center;
  margin: 40% auto 60% auto;
}

.watch-box .zmdi-hc-fw {
    margin-left: 0px;
  }

a.play-cirle {
  display: block;
  width: 59px;
  height: 59px;
  text-align: center;
  margin: 0 auto 42px auto;
  border-radius: 100%;
  border: 1px solid white;
}

a.play-cirle:hover {
  background: white;
}

a.play-cirle .zmdi-hc-fw {
    padding: 21px 9px;
}

a.play-cirle:hover .zmdi-hc-fw {
  margin-left: 0px;
  color: #004EFF;
}

a.watch-link:hover .zmdi-hc-fw {
  margin-left: 10px;
}


/* 7. Author */

.author-photo {
  min-height: 889px !important;
  background: url(../img/pawel-foto.jpg) 40% 50% no-repeat;
  -webkit-background-size: 250%;
  -moz-background-size: 250%;
  -o-background-size: 250%;
  background-size: 250%;
}

/* 8. Occasion */
.occasion-section {
  text-align: center;
  padding: 50px 0 80px;
}

.occasion-section .big-text {
  color: #C30016;
  margin-bottom: 10px;
}

.occasion-section .big-text:after {
    margin: 30px auto;
    background: #C30016;
}

/* 9. Video Carusel */

.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.csslider > ul {
  position: relative;
  width: 820px;
  height: 420px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: red;
  border: 10px solid blue;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.csslider > .navigation {
  position: relative;
  left: 50%;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: yellow;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #71ad37;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid red;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}


/* 10. Footer */
footer {
  background: #004EFF;
  padding: 35px 0;
  bottom: 0;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
}
