/*
  1. General Style
  2. Fonts
  3. Header
  4. Buttons
*/

/* 1. General Style */
body {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
}

.container-1220 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.align-right {
  text-align: right;
}

.text-white {
  color: white
}

.big-text {
  font-size: 42px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

p.big-text:after {
    content: '';
    display: block;
    margin: 36px 0px;
    background: #004EFF;
    width: 100px;
    height: 2px;
}

/* 3. Header */
.header-section {
  background: url(../img/header-cover.png) 70% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 852px;
  padding: 10px 0px;
}

.header-section h2,
.header-section p{
  color: white;
}

/* 4. Buttons */
.button {
  background: #C30016;
  border-radius: 45.5px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}
.button-long-width {
  padding: 18px 75px;
}

.button-normal-width {
  padding: 18px 35px;
}
